<!doctype html>  
<html lang="en" ng-App="particlesApp"> 
<head>
<style>
/* ---- reset ---- */


canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particleJs {
  position: absolute;
  width: 100%;
  height: 99%;
  background-color: rgb(0, 200, 220);
}

.center_div{
    margin: 0 auto;
    width:100% ;
	color:#fff;
}
.login-container{
  max-width: 400px; 
  margin: 60px auto 0;
}

.error{
  color: tomato; 
  font-size: 16px; 
  font-weight:bold;
  padding-top: 4px
}
	.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
.loginBtn--CC:before {
	border-right: #d63116 1px solid;
	background: url(CodeCheck_Logo.png) no-repeat;
	background-size: cover;
}
.loginBtn--CC{
    color: #e53012;
    background-color: #002e5d;
}
.loginBtn--CC:hover,
.loginBtn--CC:focus {
  background: #01203f;
}
.BrandImage{
display:inline-block!important;
}
.navbar{
background-color:rgba(0, 46, 93, 1)!important;
border-color:#0463c4!important;
}
.navbar-brand{
color:white!important;
}
.closeLogin{
	height: 20px;
    width: 20px;
    font-size: 10px;
    background-image: url(glyphicons_free/glyphicons_free/glyphicons/png/glyphicons-208-remove.png);
    background-repeat: no-repeat;
    float: right;
}
[name='myForm'],[name='LoginOptionForm'],[name='Registration']{
	background-color: white;
	color: black;
}
.TextCenterAlign{
	text-align:center;
}
.BoldLargeHeaderCursive{
	font-family: cursive;
	font-size: x-large;
	font-weight: bold;
}
.LightCursive{
	font-family: cursive;
	font-weight: 600;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client.js?onload=onLoadCallback';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
	 function onLoadCallback()
	{
		gapi.client.setApiKey('YOUR_API_KEY'); //set your API KEY
		gapi.client.load('plus', 'v1',function(){});//Load Google + API
	}
</script>
</head>
<body>
<div ng-controller="particlesCtrl">
<nav class="navbar navbar-inverse  navbar-fixed-top ">
  <a class="navbar-brand" href="#process"><img src="CodeCheck_Logo.png" height="25" class="BrandImage" >VloCheck</a>

  <div class="container-fluid">
    
	<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
	
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#process">Home</a></li>
        <li><a href="#Handshake">Handshake <span class="glyphicon  btn-success " ng-show="handshakesuccess">&#xe013;</span></a> </li>
        <li><a href="#Object">Object<span class="glyphicon  btn-success " ng-show="objectsuccess">&#xe013;</span></a></li>
		<li><a href="#JIRA"><span class="glyphicon  btn-success " ng-show="showjiraSuccess">&#xe013;</span>JIRA</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" title="Login" ng-click="ShowLoginOptions()"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
      </ul>
    </div>
  </div>
</nav>

    <div particles-drv ng-show="showParticles"></div>
	<div class="container center_div" ng-show="LoginOptions">
	<br><br><br>
	<div class="closeLogin" role="button" ng-click="ShowLoginOptions()" ></div>
		<form name="LoginOptionForm">
			<div class="login-container">
				<div class="TextCenterAlign row">
					<div class="col-md-12">
					  
						  <div class="form-group">
							<div class="BoldLargeHeaderCursive LoginOptionsBanner"><span>Let's Sign in</span></div>
							<div class="LightCursive LoginOptionsBanner"><span><a href="#" ng-click="ShowRegistrationForm()">Register</a> with us for full code scan! </span></div>
						  </div>
					</div>
					<div class="col-md-12">
						  <div class="form-group">
							<button ng-click="authenticateGoogle()"  class="loginBtn loginBtn--google pull-left">Login</button> 
							<button ng-click="ShowLogin()" class="CCThemeButton loginBtn loginBtn--CC pull-right">Login</button>
						  </div>
					</div>
					
				</div>
			</div>
		</form>
		
	</div>
	<div class="container center_div" ng-show="RegistrationForm">
      <form name="Registration">
        <div class="login-container">
		
          <div class="row">
		  <div class="col-md-12">
		  <div class="closeLogin" role="button" ng-click="ShowRegistrationForm()" ></div>
              <div class="form-group">
                <h2> Enter Details</h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Username</label>
                <input type="text" name="Username" ng-model="user.username" required class="form-control">
                <div ng-show="Registration.Username.$error.Username" class="error">Invalid Username!</div>
                <div ng-show="Registration.Username.$error.required &amp;&amp; Registration.Username.$touched" class="error">Required!</div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="pass" ng-model="user.password" required class="form-control">
                <div ng-show="Registration.pass.$error.required &amp;&amp; Registration.pass.$touched" class="error">Required!</div>
              </div>
            </div>
			<div class="col-md-12">
              <div class="form-group">
                <label>Email Address</label>
                <input type="text" name="email" ng-model="user.email" required class="form-control">
                <div ng-show="Registration.email.$error.email" class="error">Invalid Email format!</div>
                <div ng-show="Registration.email.$error.required &amp;&amp; Registration.email.$touched" class="error">Required!</div>
              </div>
            </div>
			<div class="col-md-12">
              <div class="form-group">
                <label>Mobile#</label>
                <input type="text" name="ContactNo" ng-model="user.ContactNo" required class="form-control">
                <div ng-show="Registration.ContactNo.$error.ContactNo" class="error">Invalid Mobile#</div>
                <div ng-show="Registration.ContactNo.$error.required &amp;&amp; Registration.ContactNo.$touched" class="error">Required!</div>
              </div>
            </div>
			<div class="col-md-12">
              <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="Confirmpass" ng-model="user.Confirmpassword" required class="form-control">
                <div ng-show="Registration.Confirmpass.$error.required &amp;&amp; Registration.Confirmpass.$touched" class="error">Passwords doesn't match!</div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <button ng-click="RegisterUser()" ng-disabled="Registration.$invalid" class="btn btn-success pull-right">Go</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div ng-show="showRegistrationError" class="alert alert-danger">Wrong credentials!</div>
              <div ng-show="showRegistrationSuccess" class="alert alert-success">Registration Successful! Redirecting... Please wait</div>
            </div>
          </div>
        </div>
      </form>
    </div>
	<div class="container center_div" ng-show="ShowLoginForm">
      <form name="myForm">
        <div class="login-container">
		
          <div class="row">
		  <div class="col-md-12">
		  <div class="closeLogin" role="button" ng-click="ShowLogin()" ></div>
              <div class="form-group">
                <h2> Enter Details</h2>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Username</label>
                <input type="text" name="email" ng-model="Login.username" required class="form-control">
                <div ng-show="myForm.email.$error.email" class="error">Invalid Username!</div>
                <div ng-show="myForm.email.$error.required &amp;&amp; myForm.email.$touched" class="error">Required!</div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="pass" ng-model="Login.password" required class="form-control">
                <div ng-show="myForm.pass.$error.required &amp;&amp; myForm.pass.$touched" class="error">Required!</div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <button ng-click="authenticate()" type="submit" value="submit" ng-disabled="myForm.$invalid" class="btn btn-success pull-right">Go</button>
		      <div class="g-recaptcha" data-sitekey="6LeafHUUAAAAAJizUN0We9iCkMpdNy1GpqAdjGsQ"></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div ng-show="showError" class="alert alert-danger">Wrong credentials!</div>
              <div ng-show="showSuccess" class="alert alert-success">Login Successful! Redirecting... Please wait</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<script>
var app = angular.module('particlesApp', []);
app.controller('particlesCtrl', ['$scope','$http', particlesCtrl]);
app.directive('particlesDrv', ['$window', '$log', particlesDrv]);

function particlesCtrl($scope,$http) {
  $scope.showParticles = true;
  $scope.ShowLoginForm = false;
  $scope.LoginOptions = false;
  $scope.RegistrationForm = false;
  var validUsers= [ 
		{'username':'kkj', 'password':'admin'},
		{'username':'rama', 'password':'admin'},
	];
	
	$scope.showError = false; // set Error flag
	$scope.showSuccess = false; // set Success Flag

	//------- Authenticate function
	$scope.loginCallbackGoogle = function(test){
		var flag= true;
		/*for(var i in validUsers){ // loop on users array
			if($scope.user.username == validUsers[i].username && $scope.user.password == validUsers[i].password){
				flag = true;
				break;
			}
			else{
				flag = false;
			}				
		}*/

		//-------- set error or success flags
		if(flag){
			$scope.showError = false;
			$scope.showSuccess = true;
			$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
			$http.post('/',$scope.user).
					then(function(response) {
						console.log("posted successfully",response);
						//consoel.log(response);
						window.location=response.data;
					}).catch(function(response) {
						console.error("error in posting",response);
					})
		}
		else{
			$scope.showError = true;
			$scope.showSuccess = false;
		}
	}
	$scope.authenticateGoogle = function (){
		 var myParams = {
			'clientid' : '914568398758-pdf9nqmfmtdaqi75sbarikfstojd9bag.apps.googleusercontent.com',
			'cookiepolicy' : 'single_host_origin',
			'callback' : $scope.loginCallbackGoogle,
			'approvalprompt':'force',
			'scope' : 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read'
		};
		gapi.auth.signIn(myParams);
		/*var flag= false;
		
		for(var i in validUsers){ // loop on users array
			if($scope.user.username == validUsers[i].username && $scope.user.password == validUsers[i].password){
				flag = true;
				break;
			}
			else{
				flag = false;
			}				
		}

		//-------- set error or success flags
		if(flag){
			$scope.showError = false;
			$scope.showSuccess = true;
			$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
			$http.post('/',$scope.user).
					then(function(response) {
						console.log("posted successfully",response);
						//consoel.log(response);
						window.location=response.data;
					}).catch(function(response) {
						console.error("error in posting",response);
					})
		}
		else{
			$scope.showError = true;
			$scope.showSuccess = false;
		}*/


	}
	$scope.loginCallback = function(){
		var flag= false;
		for(var i in validUsers){ // loop on users array
			if($scope.user.username == validUsers[i].username && $scope.user.password == validUsers[i].password){
				flag = true;
				break;
			}
			else{
				flag = false;
			}				
		}

		//-------- set error or success flags
		if(flag){
			$scope.showError = false;
			$scope.showSuccess = true;
			$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
			$http.post('/',$scope.user).
					then(function(response) {
						console.log("posted successfully",response);
						//consoel.log(response);
						window.location=response.data;
					}).catch(function(response) {
						console.error("error in posting",response);
					})
		}
		else{
			$scope.showError = true;
			$scope.showSuccess = false;
		}
	}
	$scope.ShowLogin = function(){
		$scope.ShowLoginForm = !($scope.ShowLoginForm);
	}
	$scope.ShowLoginOptions = function(){
		$scope.LoginOptions = !($scope.LoginOptions);
		$scope.showParticles = !($scope.showParticles);
		if(!$scope.LoginOptions){
			$scope.ShowLoginForm = false;
			$scope.RegistrationForm = false;
		}
	}
	$scope.ShowRegistrationForm = function(){
		$scope.RegistrationForm = !($scope.RegistrationForm);
	}
	$scope.authenticate = function (){
		 var Registration = $scope.RegistrationForm;
		 let U = $scope.Login.username;
		 let P = $scope.Login.password;
		 $http.post('https://vlocity-codescan.herokuapp.com/api/login',{"email":U,"password":P}).then(function(response){
			 var Registration = $scope.RegistrationForm;
			 console.log(response);
			 if(response.statusText == "OK"){
				if(Registration){
					$scope.showRegistrationError = false;
					$scope.showRegistrationSuccess = true;
				}
				else{
					$scope.showError = false;
					$scope.showSuccess = true;
				}
				
				$http.defaults.headers.post["Content-Type"] = "application/x-www-form-urlencoded";
				$http.post('/',$scope.user).
						then(function(response) {
							console.log("posted successfully",response);
							window.location=response.data;
						}).catch(function(response) {
							console.error("error in posting",response);
						})
			 }
			 else{
					 if(Registration){
						$scope.showRegistrationError = true;
						$scope.showRegistrationSuccess = false;
					 }
					 else{
						$scope.showError = true;
						$scope.showSuccess = false;
					 }
					
				}
		 }).catch(function(response) {
				console.error("error in posting",response);
				if(Registration){
					$scope.showRegistrationError = true;
					$scope.showRegistrationSuccess = false;
				 }
				 else{
					$scope.showError = true;
					$scope.showSuccess = false;
				 }
		});
	}

	$scope.RegisterUser = function(){
		let U = $scope.user.username;
		let E = $scope.user.email;
		let P = $scope.user.password;
		let CP = $scope.user.Confirmpassword;
		let N = $scope.user.ContactNo;
		if(P != CP){
			
		} else if(E.indexOf('@') < 0){
			
		} else if(N.length != 10){
		
		}
		else{
			$http.post("https://vlocity-codescan.herokuapp.com/api/register",{"name":U,"email":E,"password":P}).then(function(response){
				if(response.statusText == "OK"){
				if(typeof($scope.Login) == 'undefined')
				{
					$scope.Login = [];
				}
					 $scope.Login.username = $scope.user.email;
					 $scope.Login.password = $scope.user.password;
					 $scope.authenticate();
				 }
				 else{
						$scope.showRegistrationError = true;
						$scope.showRegistrationSuccess = false;
				 }
			}).catch(function(response) {
				console.error("error in posting",response);
				$scope.showRegistrationError = true;
				$scope.showRegistrationSuccess = false;
			});
		}
	}
}

function particlesDrv($window, $log) {
  return {
    restrict: 'A',
    template: '<div class="particleJs" id="particleJs"></div>',
    link: function(scope, element, attrs, fn) {
      $log.debug('test');
      $window.particlesJS('particleJs', {
        particles: {
          number: {
            value: 50,
            density: {
              enable: true,
              value_area: 800
            }
          },
          color: {
            value: '#ffffff'
          },
          shape: {
            type: "circle",
            polygon: {
              nb_sides: 5
            }
          },
          opacity: {
            value: 0.5,
            random: false,
            anim: {
              enable: false,
              speed: 1,
              opacity_min: 0.1,
              sync: false
            }
          },
          size: {
            value: 5,
            random: true,
            anim: {
              enable: false,
              speed: 40,
              size_min: 0.1,
              sync: false
            }
          },
          line_linked: {
            enable: true,
            distance: 150,
            color: '#ffffff',
            opacity: 0.4,
            width: 1
          },
          move: {
            enable: true,
            speed: 6,
            direction: 'none',
            random: false,
            straight: false,
            out_mode: 'out',
            bounce: false,
            attract: {
              enable: false,
              rotateX: 600,
              rotateY: 1200
            }
          }
        },
        interactivity: {
          detect_on: 'canvas',
          events: {
            onhover: {
              enable: true,
              mode: 'grab'
            },
            onclick: {
              enable: true,
              mode: 'push'
            },
            resize: true
          },
          modes: {
            grab: {
              distance: 140,
              line_linked: {
                opacity: 1
              }
            },
            bubble: {
              distance: 400,
              size: 40,
              duration: 2,
              opacity: 8,
              speed: 3
            },
            repulse: {
              distance: 200,
              duration: 0.4
            },
            push: {
              particles_nb: 4
            },
            remove: {
              particles_nb: 2
            }
          }
        },
        retina_detect: true
      });
    }
  };
}

</script>
</body>
</html>
